.card {
  padding: 0;
  margin-right: 10px;
}

.card-title {
  color: black;
  font-size: 25px;
  font-weight: 500;
}

.card-footer {
  color: black;
  font-weight: 700;
}

.card-footer > a {
  text-decoration: none;
}
