{% extends 'base.html' %} {% block content %}

<h2 class="mt-3">SNEAKER DETAIL</h2>

<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="card mt-2" style="max-width: 800px">
      <img src="{{ sneaker.image }}" class="card-img-top" />

      <div class="card-body">
        <h5 class="card-title">{{ sneaker.name }}</h5>
        <p class="card-text">{{ sneaker.description }}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'sneakers_update' sneaker.id %}"> EDIT</a>
        &nbsp;&nbsp;
        <a href="{% url 'sneakers_delete' sneaker.id %}">DELETE</a>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
